<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src=""></script>
    <title>Page de connexion</title>
</head>

<body>
    <h1>Page de connexion</h1>
    <fieldset>
        <legend>Connexion</legend>
        <form method="GET" action="/api/user">
            <p>
                <label for="email">Adresse Email :</label><input name="email" type="email" id="email" /><br />
                <label for="password">Mot de Passe :</label><input type="password" name="password" id="password" />
                <input type="hidden" name="key" value="<%= cryptokey %>">
                <p><input type="submit" value="Connexion" /></p>

            </p>
        </form>
    </fieldset>
</body>

</html>